.container-auth {margin: 20%;}
.container-auth ion-input {margin: 2rem 0 0 0;}
.container-auth ion-button {width: 100%;margin: 15% 0 0 0;}
ion-header img {padding: 20% 30% 5% 30%;}
h6 {font-size: .75rem; text-align: center;}
h6 span {color: #3B82F6;}