<ion-header>
  <img src="../../assets/logoBranca.svg" alt="logo ajude me">
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container-auth">
    <ion-input label="Usuário" type="email" name="usuario" [(ngModel)]="usuario" label-placement="floating" fill="outline" placeholder="exemplo@mail.com" required></ion-input>
    <ion-input label="Senha" type="password" name="senha" [(ngModel)]="senha" label-placement="floating" fill="outline" placeholder="***" required></ion-input>
    <ion-button (click)="goDash()">Entrar</ion-button>
    <h6>Não possui cadastro? <span (click)="goAcesso()">Cadastre-se aqui</span></h6>
  </div>
</ion-content>
<ion-footer class="abstract-hands">
</ion-footer>