<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 <h3>CRUD</h3> 
  <ion-fab>
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="warning"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>