ion-header {padding: 1rem; background-color: #7044ff18; opacity: .75; display: flex;}
ion-title {color: #7044FF; font-weight: bold; text-align: left;}
ion-img {width: 6rem; margin-right: 1rem;}
.sc-ion-searchbar-md-h { padding: 0; --background: #7044ff18; color: #7044FF; --icon-color: #7044FF; opacity: .85; --box-shadow: none;}

ion-fab-button::part(native) {
    background-color: var(--ion-color-primary-tint);
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    color: white;
  }
  
  ion-fab-button::part(native):hover::after {
    background-color: #3dc2ff;
  }
  
  ion-fab-button::part(native):active::after {
    background-color:#36abe0;
  }