ion-title {color: rgba(128, 128, 128, 0.918); font-size: 1rem;}
ion-header {padding: 1.1rem 1.48rem; opacity: .75;}
ion-img {width: 6rem;}
.menu-header {display: flex; align-items: center;}
.bt-sair { padding-left: 12rem;}
.bt-sair ion-icon {opacity: .75;}
ion-header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ion-fab-button::part(native) {
    background-color: var(--ion-color-primary-tint);
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    color: white;
  }
  
  ion-fab-button::part(native):hover::after {
    background-color: #3dc2ff;
  }
  
  ion-fab-button::part(native):active::after {
    background-color:#36abe0;
  }