<ion-header>
    <ion-img src="../../../assets/logoAzul.svg" alt=""></ion-img>
    <div>
        <ion-title>Informativo</ion-title>
    </div>
</ion-header>

<ion-content class="modal1">
<!--Criar-->
    <img src="../../../assets/eventos.svg">

    <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#eventosModal" (click)="onAddClick()">Criar Evento</button>
    </form>
    
<!-- Modal -->
<ion-content class="modal fade" id="eventosModal"  data-backdrop="false" tabindex="" role="dialog" aria-labelledby="eventosModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <ion-header class="modal-header">
          <h5 class="modal-title" id="eventosModalLabel">Informe aqui</h5>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </ion-header>
        <div class="modal-body">
            <form [formGroup]="eventosForm">
                <div class="mb-3">
                    <label  class="form-label">Evento:</label>
                    <input type="text" class="form-control"  placeholder="Tema" formControlName="tituloevento">
                </div>

                <div class="mb-3">
                    <label  class="form-label">Data:</label>
                    <input type="date" class="form-control" formControlName="dataevento">
                </div>
    
                <div class="mb-3">
                    <label  class="form-label">Descrição:</label>
                    <textarea type="text" class="form-control" rows="6"  placeholder="Exemplo de descrição (Sobre o evento, local e hora, whatsapp ou rede social da ação.)" formControlName="descricaoevento">
                    </textarea>
                </div>
    
            </form>
        </div>
        <ion-footer class="modal-footer">
          <button type="button" class="btn btn-secondary bt-fechar" data-dismiss="modal" id="close" (click)="reset()">Fechar</button>
          <button type="button" class="btn btn-secondary bt-atualizar" (click)="updateEventosDetail()" *ngIf="showUpdateBtn">Atualizar</button>
          <button type="button" class="btn btn-primary bt-adicionar" (click)="postEventosDetails()" *ngIf="showAddBtn">Adicionar</button>
        </ion-footer>
      </div>
    </div>
</ion-content>

<!--Tabela-->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="titulo-evento">Eventos</th>
                    <th>Saiba mais</th>
    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of eventosDetails">
                <td>{{e.tituloevento}}</td>
                <ion-accordion-group>
                    <ion-accordion value="first">
                      <ion-item slot="header" color="light">
                        <ion-label><ion-icon name="ellipsis-horizontal-outline"></ion-icon></ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <td class="desc-evento">{{e.descricaoevento}}</td>
                        <tr class="data-evento">{{e.dataevento}}</tr>
                        <td class="bt-botoes">
                            <button (click)="edit(e)" class="editar" data-toggle="modal" data-target="#eventosModal"><ion-icon name="create-outline"></ion-icon></button>
                            <button (click)="deleteEventosDetail(e.id)" class="excluir" ><ion-icon name="trash-outline"></ion-icon></button>
                        </td>
                    </div>
                    </ion-accordion>
                </ion-accordion-group>
                </tr>
            </tbody>
        </table>
    </div>

</ion-content>