ion-button {width: 100%;margin: 5% 0 0 0; height: 3.5rem; font-weight: bold; color: #fff}
ion-card-title {font-size: 1.48rem; margin-bottom: .5rem; color: #3880ff;}
ion-card {margin: 10% 15%}
#img-card {
    background-image: url('../../assets/voluntarios.svg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 16rem; 
    }
ion-header {background-color:#3880ff;}
ion-card {position: absolute;}