ion-title {color: rgba(128, 128, 128, 0.918); font-size: 1rem;}
ion-header {padding: 1.1rem 1.48rem; opacity: .75;}
ion-img {width: 6rem;}
ion-header { display: flex; align-items: center; justify-content: space-between;}
img {width: 2rem; padding: .5rem 0 0 0;}
ion-button {--background: transparent; opacity: .9; border-radius: .2rem; color: #3880ff; border: 1px solid #3880ff; font-weight: bold; margin: 1rem 1rem 2rem 1rem;}
ion-item {--padding-start: 0;}
.ler {font-size: 3.8rem; color: rgba(128, 128, 128, 0.918); opacity: .75;}