
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab='home-tab'>
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="hanking">
      <ion-icon name="star"></ion-icon>
      Hanking
    </ion-tab-button>
    <ion-tab-button tab="admin">
      <ion-icon name="person-circle"></ion-icon>
      Admin
    </ion-tab-button>
    <ion-tab-button tab="duvida">
      <ion-icon name="help-circle"></ion-icon>
      Duvida
    </ion-tab-button>

    <ion-tab-button id="present-alert" >
      <ion-alert trigger="present-alert" class="custom-alert" header="Tem certeza?" [buttons]="alertButtons"></ion-alert>
      <ion-icon name="exit"></ion-icon>
      Sair
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
