<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab='home-tab'>
      <ion-icon name="home-outline"></ion-icon>
      Início
    </ion-tab-button>
    <!--
    <ion-tab-button tab="ranking">
      <ion-icon name="star"></ion-icon>
      Ranking
    </ion-tab-button>
    -->
    <ion-tab-button tab="admin">
      <ion-icon name="settings-outline"></ion-icon>
      Pedidos
    </ion-tab-button>
    <ion-tab-button tab="eventos">
      <ion-icon name="megaphone-outline"></ion-icon>
      Eventos
    </ion-tab-button>
    <ion-tab-button tab="duvida">
      <ion-icon name="help-outline"></ion-icon>
      Duvida
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>