<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Ajude-Me</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-footer>
        <h6 (click)="goHome()">Sair</h6>
      </ion-footer>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <img src="../../assets/logoAjudeMe.svg" alt="logo ajude me">
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Ficamos felizes que seja um voluntário! </ion-content>
  </div>
</ion-app>