<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div class="logohome">
      <img src="../../assets/grupo-voluntarios.gif" alt="logo ajude me">
    </div>
    <img class="logo" src="../../assets/logoAzul.svg" alt="logo ajude me">
    <p>Seja bem-vindo ao nosso app!</p>
    <br>
    <div class="infohome">
      <ion-button id="open-loading" (click)="goLogin()">Acessar</ion-button>
      <ion-loading class="custom-loading" trigger="open-loading" message="Espere 1 segundo..." [duration]="1000"></ion-loading>
    </div>
  </div>
</ion-content>