.container-auth {margin: 5% 10% 10% 10%;}
.container-auth ion-input {margin: 1rem 0 0 0;}
.container-auth ion-button {width: 100%; margin: 5% 0 0 0; height: 3.5rem; font-weight: bold;}
ion-header img {width: 10rem;}
ion-header {padding: 10% 30% 5% 30%; background-color: var(--ion-color-primary-tint);}
h6 {font-size: .75rem; text-align: center;}
h6 span {color: #3B82F6;}
.abstract-hands {
    background-image: url('../../assets/hands.svg');
    height: 4rem;
    width: 100%;
    background-repeat: repeat;
    background-position-x: right;
}
ion-footer {position: initial;}